#nprogress .bar {
  z-index: 10000000000 !important;
}

#nprogress .bar {
  background: #fc0 !important;
}

#nprogress .peg {
  box-shadow: 0 0 10px #fc0, 0 0 5px #fc0 !important;
}

#nprogress .spinner-icon {
  display: none;
  border-top-color: #fc0 !important;
  border-left-color: #fc0 !important;
}
