$menu-top: 52px;
$box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
$box-shadow-right: 2px 1px 5px rgba(0, 0, 0, 0.5);
$border-radius: 4px;
$border-color: #ddd;
$primary-color: #000000;
$secondary-color: #000000;

// Media queries

$medium-desktop-breakpoint: 1360px;
$small-desktop-breakpoint: 1200px;
$big-tablet-breakpoint: 960px;
$tablet-breakpoint: 830px;
$mobile-breakpoint: 700px;

$dark-color: #212121;
$dark-border-color: #373836;
$dark-text-color: white;
